name: Terraform Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: write    # This is required for actions/checkout

jobs:
  terraform:
    name: Deploy Terraform Environments
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 1.6.0

      - name: Find Changed Environments
        id: find-envs
        run: |
          if [[ $GITHUB_EVENT_NAME == "pull_request" ]]; then
            echo "Running on a pull request. Comparing with origin/main."
            changed_files=$(git diff origin/main...HEAD --name-only)
          elif [[ $GITHUB_EVENT_NAME == "push" && $GITHUB_REF == "refs/heads/main" ]]; then
            echo "Running on a push to main. Comparing the last two commits."
            changed_files=$(git diff HEAD~1 HEAD --name-only)
          fi

          echo "Step 1: Get all file paths changed"
          echo "$changed_files"

          echo "Step 2: Filter paths to include only 'envs'"
          envs_files=$(echo "$changed_files" | grep '^envs/')
          echo "$envs_files"

          echo "Step 3: Remove file names to keep folder paths"
          folders=$(echo "$envs_files" | sed 's|/[^/]*$|/|')
          echo "$folders"

          echo "Step 4: Merge duplicate folders"
          unique_folders=$(echo "$folders" | sort | uniq)
          echo "$unique_folders"

          echo "Step 5: Remove paths containing 'common'"
          filtered_folders=$(echo "$unique_folders" | grep -v '/common/')
          echo "$filtered_folders"

          echo "Changed or newly created folders:"
          echo "$filtered_folders"
          envs_list=$(echo "$filtered_folders" | tr '\n' ' ' | xargs)
          echo "::set-output name=envs::$envs_list"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.2.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: github-actions-ci
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Generate Terraform Plan
        id: generate-plan
        run: |
            for env in $(echo "${{ steps.find-envs.outputs.envs }}"); do
              if [ ! -d "$env" ]; then
                echo "Directory $env does not exist. Skipping."
                continue
              fi
              echo "Generating plan for environment: $env"
              cd "$env"

              terraform init -input=false
              terraform validate
              terraform plan -out=tfplan -input=false \
                -var-file="common.account.auto.tfvars" \
                -var-file="common.region.auto.tfvars"

              cd - > /dev/null
            done

      - name: Apply Terraform Plan
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
            for env in $(echo "${{ steps.find-envs.outputs.envs }}"); do
              if [ ! -d "$env" ]; then
                echo "Directory $env does not exist. Skipping."
                continue
              fi
              echo "Applying plan for environment: $env"
              cd "$env"

              terraform apply -auto-approve \
                -var-file="common.account.auto.tfvars" \
                -var-file="common.region.auto.tfvars"

              cd - > /dev/null
            done



